html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* ------------------------------- */
/*  Styles for Button Grid Layout  */
/* ------------------------------- */
.cell-class 
{
    border: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-align: center;
    font-family: "Cascadia Mono", monospace;
    font-weight: bold;
}
.cell-class img 
{
    max-width: 90%;
    max-height: 90%;
    object-fit: contain; 
}
.end-game-cell 
{
    border: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: center;
    font-family: "Cascadia Mono", monospace;
    font-weight: bold;
}
.end-game-cell img 
{
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}